/*external style*/
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    height: 100vh;
    display: flex;
}

#form-background,
form {
    height: 100%;
    width: 50%;
}

#form-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image/thors-wrath.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: brown;
}

#logo-div {
    display: flex;
    align-items: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: rgb(135, 206, 250, 0.5);
    height: 8rem;
    width: 100%;
    padding-left: 2rem;
    margin-top: -10rem;
}

#logo {
    width: 15%;
    height: auto;
}

#logo-div h1 {
   margin: 0 auto;
   margin-left: -0.1vw;
   font-size: 6vw;
   color: #8b0000;
    font-family: Rowdies; /*eternal font*/
}

#form {
    background-color: aliceblue;
}

section {
    border: 1px solid black;
    height: 33.3%;
}

form section:nth-of-type(1) {
    font-weight: 600;
    padding: 2rem 2.5rem 0;
    font-size: 1.5vw;
}

form section:nth-of-type(1) p:nth-child(2) {
    margin-top: 1rem;
}

form section:nth-of-type(2) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input,
label {
    display: block;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 1rem;
    height: 1.5rem;
    outline: none;
    padding-left: 1rem;
}

input:hover {
    border-color: blue;
}

form section:nth-of-type(3),
button {
    font-size: 1.1rem;
}

form section:nth-of-type(3) {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 3rem;
    padding-top: 2rem;
}

button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid #8b0000;
    background-color: #8b0000;
    color: #fff;
    margin-bottom: 1rem;
}

button:hover {
    border-color: #fff;
}

form section:nth-of-type(3) p a {
   text-decoration: none;
   color: #8b0000;
   font-weight: bold;
}